{% extends 'header.html' %}
{% block title %}Add New Post{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
      <main role="main" class="container">
        <div class="row">
          <div class="col-12 my-3 mx-auto" style="max-width: 768px;">
            <div class="article-card">
              <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.media }}
              {{ form }}
              <button class="btn btn-primary ">Post</button>
              </div>
            </div>
        </div>
      </main>
  {% else %}
      {% include '404.html' %}
  {% endif %}
{% endblock %}
