{% extends 'header.html' %}
{% block title %}{{ post.title }} | {{post.title_tag}}{% endblock %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-12 col-md-7 col-lg-8 my-3">
      <div class="article-card">
        <a href="{% url 'category' post.category %}" class="badge badge-primary">{{ post.category }}</a>
        <h1>{{ post.title }}</h1>
        <div class="widget-meta">
          <div class="d-flex flex-row">
              <a href="#">
                <i class="fas fa-user text-primary mr-2" aria-hidden="true"></i> by {{ post.author }}
              </a>
              <div class="ml-3">
                <i class="fas fa-calendar text-primary mr-2" aria-hidden="true"></i> {{ post.post_date }}
              </div>
          </div>
          <div class="d-flex flex-row">
              <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}
                {% load static %}
                <button type="submit" name="post_id" style="background:transparent; border:0;" value="{{ post.id }}"><i class="fas fa-thumbs-up" aria-hidden="true"></i> {{ total_likes }} likes</button>
              </form>
              <a href="#">
                <i class="fas fa-comments ml-2" aria-hidden="true"></i> 0 comments
              </a>
          </div>
        </div>
        <hr class="my-4 ">
        <p class="lead mb-0">{{ post.title_tag }}</p>
      </div>
      <div class="article-img" style="background: url({% if post.post_image %}{{ post.post_image.url }}{% else %}https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500{% endif %});">
        {% if user.is_authenticated %}
          <a class="btn btn-danger article-delete-post-btn" href="{% url 'delete_post' post.pk %}"><i class="fas fa-times"></i></a>
          <a class="btn btn-primary article-edit-post-btn" href="{% url 'update_post' post.pk %}">Edit Post</a>
        {% endif %}
      </div>
      <div class="article-card">
        <p>
          {{ post.body|safe }}
        </p>
        <hr class="my-5">
        <div class="references">
          <a href="#">Neque egestas congue quisque egestas diam in arcu cursus euismod. </a>
            <a href="#">Neque egestas congue quisque egestas diam in arcu cursus euismod. </a>
              <a href="#">Neque egestas congue quisque egestas diam in arcu cursus euismod. </a>
          </div>
        </div>
        <a class="mt-4  d-block text-center small p-2 bg-light border rounded w-100" style="text-decoration: none;" href="{% url 'home' %}">Return Home&nbsp;&nbsp;<i class="fas fa-chevron-right small"></i></a>
        <img src="https://via.placeholder.com/500x70" class="img-fluid w-100 mt-4 d-none d-md-block">
      </div>
      <div class="col-12 col-md-5 col-lg-4 my-3">
        <div class="bg-dark mb-4 p-4">
            <form>
              <div class="text-light font-weight-bold mb-3 small">
                Sign Up For Our Newsletter
                </div>
              <div class="form-group mb-0 position-relative">
                <input type="text" class="form-control" placeholder="email address">
                <button class="floating-button" type="submit""><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
                </div>
              </form>
          </div>
          <img src="https://via.placeholder.com/300x200" class="img-fluid w-100 mb-4" />
          {% for post in related_posts|slice:":3" %}
            <div class="widget-card">
              {% if user.is_authenticated %}
                <a class="btn btn-danger widget-delete-post-btn" href="{% url 'delete_post' post.pk %}"><i class="fas fa-times"></i></a>
                <a class="btn btn-primary widget-edit-post-btn" href="{% url 'update_post' post.pk %}">Edit Post</a>
              {% endif %}
              <div class="position-relative d-block">
                <a href="{% url 'article_detail' post.pk %}" class="widget-img" style="background: url({% if post.post_image %}{{ post.post_image.url }}{% else %}https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500{% endif %});">
                </a>
                <a href="{% url 'category' post.category %}" class="badge badge-primary position-absolute m-0" style="left: 1rem; bottom: 1rem;">{{ post.category|slugify|title }}</a>
                </div>
              <div class="widget-body">
                <a href="{% url 'article_detail' post.pk %}" class="widget-title">{{ post.title }}</a>
                <div class="widget-meta">
                  <div>
                    <i class="fas fa-user text-primary mr-2"></i>{{ post.author}} -
                  </div>
                  <div class="ml-3">
                    <i class="fas fa-calendar text-primary mr-2"></i>{{ post.post_date }}
                  </div>
                </div>
                <div class="widget-preview">
                  {{ post.title_tag|safe|slice:":100" }}
                  <!-- {{ post.body|striptags|slice:":100" }} -->
                  </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
    {% endblock content %}
