{% extends 'header.html' %}

{% block content %}
{% block trending %}
  {% include "trending.html" %}
{% endblock %}
<main role="main" class="container">
<div class="d-flex flex-column flex-md-row align-items-start align-items-center">
  <div class="bg-primary d-block d-md-inline-block text-white py-2 px-3 font-weight-bold small my-2 mr-3">
    TRENDING NOW
  </div>
  <a href="#" class="small">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </a>
</div>
  <div class="card-columns mt-4">
      {% for post in object_list %}
          <div class="widget-card d-inline-block w-100">
            {% if user.is_authenticated %}
              <a class="btn btn-danger widget-delete-post-btn" href="{% url 'delete_post' post.pk %}"><i class="fas fa-times"></i></a>
              <a class="btn btn-primary widget-edit-post-btn" href="{% url 'update_post' post.pk %}">Edit Post</a>
            {% endif %}
            <div class="position-relative d-block">
              <a href="{% url 'article_detail' post.pk %}" class="widget-img" style="background: url({% if post.post_image %}{{ post.post_image.url }}{% else %}https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500{% endif %});">
              </a>
              <a href="{% url 'category' post.category %}" class="badge badge-primary position-absolute m-0" style="left: 1rem; bottom: 1rem;">{{ post.category|slugify|title }}</a>
              </div>
            <div class="widget-body">
              <a href="{% url 'article_detail' post.pk %}" class="widget-title">{{ post.title }}</a>
              <div class="widget-meta">
                <div>
                  <i class="fas fa-user text-primary mr-2"></i>{{ post.author}} -
                </div>
                <div class="ml-3">
                  <i class="fas fa-calendar text-primary mr-2"></i>{{ post.post_date }}
                </div>
              </div>
              <div class="widget-preview">
                {{ post.title_tag|safe|slice:":100" }}
                <!-- {{ post.body|striptags|slice:":100" }} -->
                </div>

          </div>
        </div>
      {% endfor %}
    </div>
  </main><!-- /.container -->

{% endblock %}
