
{% block content %}
  <div class="bg-white p-4 text-center mb-4 font-weight-bold">
    Related Posts
  </div>
  {% for post in object_list %}
    <div class="widget-card">
      {% if user.is_authenticated %}
        <a class="widget-delete-post-btn" href="{% url 'delete_post' post.pk %}"><i class="fas fa-times"></i></a>
        <a class="widget-edit-post-btn" href="{% url 'update_post' post.pk %}">Edit Post</a>
      {% endif %}
      <a href="{% url 'article_detail' post.pk %}" class="widget-img" style="background: url(https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);"></a>
      <div class="widget-body">
        <a href="{% url 'article_detail' post.pk %}" class="widget-title">{{ post.title }}</a>
        <div class="widget-meta">
          <div>
            <i class="fas fa-user text-primary mr-2"></i>{{ post.author}} -
          </div>
          <div class="ml-3">
            <i class="fas fa-calendar text-primary mr-2"></i>{{ post.post_date }}
          </div>
        </div>
        <div class="widget-preview">
          {{ post.body|slice:":100" }}
          </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
